/* 부모 컨테이너 */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* 세로로 정렬 */
  background-color: #f4f4f4;
  margin: 0;
}

/* 이미지 스타일 */
.centered-image {
  max-height: 100%; 
  max-width: 100%;  
  object-fit: contain;
  margin-bottom: 20px; /* 버튼과 간격 */
}

/* 버튼 스타일 */
.button-link {
  display: inline-block;
  text-decoration: none; /* 링크 밑줄 제거 */
  background-color: #ffeb3b; /* 버튼 배경색 */
  color: #000; /* 글자색 */
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: background-color 0.3s ease; /* 호버 효과 전환 */
}

.button-link:hover {
  background-color: #ffd700; /* 호버 시 색상 변경 */
}
